<!DOCTYPE html>
<html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

        {{! Theme styles.css}}
        <link rel="stylesheet" type="text/css" href="{{asset "styles.css"}}">

        {{! Ghost js config}}
        <script type="text/javascript">
            window._GhostConfiguration = {
                postsPerPage: {{@blog.posts_per_page}}
            };
        </script>
    </head>
    <body class="{{body_class}}">

        {{navigation}}

        <div class="content">
            {{! Everything else gets inserted here }}
            {{{body}}}
        </div>

        {{>footer}}

        {{ghost_foot}}

        {{! Kasey Theme javascript && css}}
        <script type="text/javascript" src="{{asset "bundle.js"}}"></script>

    </body>
</html>
