{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}}
<div class="post-page post">
  <header class="post__header
    {{#unless image}}
    post__header--no-image
    {{/unless}} 
    ">
    <div
      class="post__header-background"
      {{#if image}}
      style="background-image: url({{image}})"
      {{/if}}
      >
      <div class="post__header-content">
        <div class="post__header-content-text">
          <h1 class="post__title">{{title}}</h1>
          <time class="post__date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </div>
      </div>
    </div>
  </header>

  <div class="content__main">
    <main class="post__wrapper" role="main">
      <article class="{{post_class}}">

        <section class="post__content">
          {{content}}
        </section>

        <footer class="post__footer">

          <section class="post__share">
            <h6 class="post__share-title">Share</h6>
            <a class="post__share-link post__share-icon--twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
              <i class="fa fa-twitter"></i>
              <span class="hidden">Twitter</span>
            </a>
            <a class="post__share-link post__share-icon--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
              <i class="fa fa-facebook"></i>
              <span class="hidden">Facebook</span>
            </a>
            <a class="post__share-link post__share-icon--google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
              onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
              <i class="fa fa-google-plus"></i>
              <span class="hidden">Google+</span>
            </a>
          </section>

        </footer>

      </article>
    </main>

    <aside class="post__read-other">
      {{#next_post}}
      <a class="post__read-other-post post__read-other-post--next" href="{{url}}">
        <i class="fa fa-angle-left"></i> Newer
      </a>
      {{/next_post}}
      {{#prev_post}}
      <a class="post__read-other-post post__read-other-post--prev" href="{{url}}">
        Older <i class="fa fa-angle-right"></i>
      </a>
      {{/prev_post}}
    </aside>

  </div>
</div>
{{/post}}
